[submodule "themes/cstate"]
	path = themes/cstate
	url = https://github.com/cstate/cstate
[submodule "themes/themes/fenstate"]
	path = themes/themes/fenstate
	url = https://github.com/PixelFen/sereniastatus
